@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 90vw;
}

/* Panel Classes */

.panel {
  flex: 0.5;
  margin: 0.75rem;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: flex 0.7s ease-in;
  height: 80vh;
  border-radius: 2rem;
  color: hsl(0, 14%, 99%);
  cursor: pointer;
}

.panel h3 {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  margin: 0;
  font-size: 1.5rem;
  opacity: 0;
}

.panel.active {
  flex: 5;
  box-shadow: 3px 7px 7px 3px rgba(0, 0, 0, 0.08);
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.img--1 {
  background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.img--2 {
  background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.img--3 {
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}

.img--4 {
  background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}

.img--5 {
  background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

@media (max-width: 480px) {
  .wrapper {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
